<% @topbar_class = "hidden" %>
<div class="landing_page">
  <div class="photo_back">
    <div class="row" id="alert-area"></div>
    <div class="container center shadow">
      <div class="row">
        <div class="span4 offset4">
          <h1 class="logo tight brand">uSnap.us</h1>
        </div>
      </div>
      <div class="row">
        <p class="offset2 span8 subtitle">Let your guests capture your wedding &amp; see it unfold live.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row panel no_margin_bottom" style="margin-top:70px;">
      <div class="span4 offset4 center" >
        <h2 class="center offset4 span4 brand no_margin_top">Don't miss a moment</h2>
      </div>
    </div>
    <div class="row panel no_margin_top no_margin_bottom" style="">
      <div class="span4 center">
        <h3>Get Unique Perspectives</h3>
        <p>Every angle, every moment, every memory from your day.</p>
      </div>
      <div class="span4 center">
        <h3>From within the moment</h3>
        <p>Candid photos that really reflect your day.</p>
      </div>
      <div class="span4 center">
        <h3>By those who know you</h3>
        <p>Your friends know what's important to you &amp; help capture timeless memories.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <hr class="no_bottom_padding">
      </div>
    </div>
   <div class="row panel no_margin_bottom">
      <div class="span4 offset4 center">
        <h2 class="center offset4 span4 brand no_margin_top">Try it for free</h2>
      </div>
    </div>
    <div class="row panel center no_margin_top no_margin_bottom">
      <div class="span10 offset1">
        <p style="font-size:18px" class=" no_margin_top">
          It’s just  <span class="blue bold">$<%= ((@price/100)%100) %><span class="currency">USD</span></span>  for your event when you’re ready to pay - no matter how many guests you have.
        </p>
      </div>
    </div>
  
    <div class="row signup center" style="margin-top:10px;margin-bottom:50px;">
      <div class="span12">
        <div class="">
          <%= form_for @user, url: registration_path(@user), html: {class: "background small round form-horizontal blue"} do |f| %>
            <%= f.text_field :name, placeholder: "Your Name" , class:"text" %>
            <%= f.email_field :email, placeholder: "Your Email", class:"text" %>
            <%= f.password_field :password, placeholder: "Your Password", class:"text" %>
            <%= f.submit "Get started for free", class: "btn btn-green round" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="light_blue">
    <div class="container">
      <div class="row center panel" style="margin-bottom:20px">
        <div class="span4">
          <div class="dot">
            <%= image_tag "explain-icon.png", :title => "create an event" %>
          </div>
          <h3 class="brand">
            Create an event
          </h3>
          <p>
            Sign up to add your event, invite guests to get the App. 
          </p>
        </div>
        <div class="span4">
          <div class="dot">
            <%= image_tag "explain-phone.png", :title => "guests snap pics" %>
          </div>
          <h3 class="brand">
            Guests snap pics
          </h3>
          <p>
            Their photos are instantly shared with you &amp; added to the album.
          </p>
        </div>
        <div class="span4">
          <div class="dot">
            <%= image_tag "explain-grid.png", :title => "see it unfold live" %>
          </div>
          <h3 class="brand">
            Share the love
          </h3>
          <p>
            Share the album or a live slideshow, create something special.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row last panel no_margin_bottom" style="margin-top:80px">
       <div class="span8" style="line-height:0px">
        <%= image_tag "app_screens.png", :title => "Download the uSnap.us smartphone app" %>
      </div>

      <div class="span4">
        <p class="quote first">
          “This is AMAZING! Sheer Genius!”
        </p>
        <p class="attrib">
          Caron Nicole
        </p>
        <p class="quote">
          “Nothing like watching your wedding as it unfolds!”
        </p>
        <p class="attrib">
          Dru Soltys
        </p>
        <p class="quote">
          “Oh wow, this is awesome!”
        </p>
        <p class="attrib">
          Kelvin Tay
        </p>
      </div>
      <div class="row">
        <div class="span12">
          <hr class="no_bottom_padding" style="margin-top:0px">
        </div>
      </div>
    </div>
    <div class="row footer" style="margin-top:10px">
      <p class="span12 center">
        <%= link_to "Blog", "http://blog.usnap.us" %>
        <%= link_to "About Us", "http://blog.usnap.us/about-us" %>
        <%= link_to "Press", "http://blog.usnap.us/press" %> <span>|</span>
        <%= link_to "Twitter", "http://twitter.com/usnapus" %>
        <%= link_to "Facebook", "https://www.facebook.com/uSnap.Us" %> <span>|</span>
        <%= link_to "Terms of Use", terms_of_use_path %>
        <%= link_to "Privacy Policy", privacy_policy_path %>
      </p>
    </div>
  </div>
</div>