<p align="left" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px">
  Hey <%= @user.name %>, welcome to uSnap.us!
</p>
<p style="margin-bottom:30px;font-size: 90%;color: #444;">
  Thanks for registering to use uSnap.us on your big day. Here are a few pointers to get started.
</p>
<p align="left" class="article-title" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;">
<%= image_tag "http://usnap.us/assets/phones.jpg", style: "float:right;padding:10px;width:200px" %>
  1) Get the App
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  The easiest way to add photos to your event is through our free smartphone app. You and your guests can download it from the Apple AppStore:<br style="line-height:100%;">
  <%= link_to "http://itunes.apple.com/us/app/usnap.us/id502448652" %>
</p>
<p align="left" class="article-title" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;">
  2) Log in to your event
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  When you created your event on the website, you chose a time and location. Unless you're at that location right now, your phone won't know which event you're taking photos for!
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  In the app join the event manually using your event code, which is <%= @event.code %>.
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  On the big day your guests will automatically join the uSnap.us event as they arrive.
</p>
<p align="left" class="article-title" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;">
  3) You Snap!
</p>
<p style="margin-bottom:30px;font-size: 90%;color: #444;">
  You're now ready to take photos, and capture every memory. Watch them appear automatically at <%= link_to "http://unsnap.us/#{@event.code.downcase}" %>. Try out the live stream or the slideshow, too!
</p>
<p align="left" class="article-title" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;">
  <%= image_tag "http://usnap.us/assets/gallery.jpg", style: "float:left;padding-right:10px;width:200px" %>
  Getting the most from your big day
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  Guests without iPhones can still be involved by emailing their photos to <%= link_to "#{@event.code.downcase}@usnap.us", "mailto:#{@event.code.downcase}@usnap.us" %>. This includes friends and family who can't make it to your wedding!
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  Make sure to let guests know you'll be using uSnap.us at your wedding, so they can download the app.
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  Your guests will be more likely to take photos when they can see them appearing live. Prepare an iPad, screen or projector to present the slideshow on the day. This can inspire some great talking points during the evening.
</p>
<p align="left" class="article-title" style="font-size:18px;line-height:24px;color:#4b698a;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;">
  Getting the most from us
</p>
<p style="margin-bottom:15px;font-size: 90%;color: #444;">
  We're here to help in any way possible. Don't hesitate to get in touch with us if you need.
</p>
