<div class="top_panel">
  <div class="container">
    
    <section class="row">
      <div class="span12 spiel">
        <h1 class="tagline">
          See your wedding through their eyes
        </h1>
        <p>
          Let your guests capture your wedding, party, or conference &amp; see it unfold live.
        </p>
        <p class="cta">
          <a href="#the_black" class="upcase"><span>Be the first to try it</span> <%= image_tag "btn-arrow.png" %></a>
        </p>
      </div>
    </section>
    
    <section class="row">
      <div class="span4">
        <div class="image">
          <%= image_tag "explain-icon.jpg" %>
        </div>
        <div class="number">
          1
        </div>
        <h2 class="step_text">Create an event</h2>
        <p class="step_text_desc">
          Sign up to add your event,<br/> invite guests to get the App.
        </p>
      </div>
      <div class="span4">
        <div class="image">
          <%= image_tag "explain-phone.jpg" %>
        </div>
        <div class="number">
          2
        </div>
        <h2 class="step_text">Guests snap pics</h2>
        <p class="step_text_desc">
          Their photos are instantly<br/> shared with you.
        </p>
      </div>
      <div class="span4">
        <div class="image">
          <%= image_tag "explain-grid.jpg" %>
        </div>
        <div class="number">
          3
        </div>
        <h2 class="step_text">See it unfold live</h2>
        <p class="step_text_desc">
          Watch photos appear in real time,<br/> revisit them whenever you like.
        </p>
      </div>
    </section>
    
  </div>
</div>

<div class="bottom_panel container" id="the_black">
  <section class="row">
    <h1 class="brand span12"><%= image_tag "logo-signup.png", :title=>"uSnap.us" %></h1>
    <p class="dropus span12">
      Drop us your details, you'll be first in line when we launch in March 2012.
    </p>

    <%= form_for Signup.new, :remote => true do |f| %>
      <%= f.email_field :email, :placeholder => "Your email address" %>
      <hr />
      <%= image_submit_tag "btn-signup.png", :class => "signup" %>
    <% end %>
  </section>

  <section class="row footer">
    <hr />
    <p class="span12">
      <span class="brand">uSnap.us</span>
      <span class="upcase">&nbsp;&#183;&nbsp; Launches March 2012 &nbsp;&#183;&nbsp; <%= link_to "Follow Us", "http://twitter.com/usnapus", :title => "Follow and talk to uSnap.us on Twitter!" %> on twitter</span>
    </p>
  </section>
  
</div>




  