<% @title = "Photos from #{@event.name}"%>
<% @topbar_class = "thin" %>

<% content_for(:dropdown_options) do %>
  <% if @attendee.try(:is_admin) %>
    <li>
      <%= link_to "Bulk Download", download_event_photos_path(@event), :id => "bulk_download" %>
    </li>
    <li>
      <%= link_to "Delete Photo Mode", "#", :id => "delete_photo_mode", :class=>"red" %>
    </li>
    <li class="divider"></li>
  <% end %>
<% end %>

<section class="container event_details bottom_pad">
  <div class="row">
    <div class="span12">
      <h1 class="brand event_name"><%= @event.name %></h1>
      <p class="time_replace">
        <%= @event.starts.to_i %>
      </p>
      <div class="buttons upcase bold">
          <%= link_to "#{event_code_path @event}/fullscreen", id: "goto_slideshow" do %>
            &#9658; Slideshow
          <% end %>
          <%= link_to "#", :id=>"show_latest_photos" do %>
            &#9658; Live Photos
          <% end %>
      </div>
    </div>
  </div>
</section>


<section class="container gallery">
  <div class="row">
    <div id="photo_gallery" data-json-url="<%= event_code_path @event, suffix: ".json" %>">
      
      <% unless @event.purchased? %>
        <div class="photo" id="photo_upgrade">
          <%= link_to (image_tag "upgrade_photo.jpg"), new_event_purchase_path(@event), title: "Upgrade now!" %>
        </div>
      <% end %>
    </div>
    <% if @photos.empty? %>
      <div id="blank_slate" class="center">
        <h2>
          <%= link_to "Get the uSnap.us iPhone app from the App Store", "http://itunes.apple.com/us/app/usnap.us/id502448652" %>
        </h2>
        <p class="blue">
          Photos taken with the iPhone app at the time and place of your wedding will appear here.
        </p>
        <p class="blue">
          Give it a try now - open the iPhone app and use the event code <strong><%= @event.code %></strong>, or email photos to <strong><%= @event.code %></strong>@usnap.us.
        </p>
      </div>
    <% end %>
  </div>
</section>

<section class="container-fluid">
  <div class="row-fluid gallery_footer">
    <p class="pull-left">Contribute your photos with the <strong><%= link_to "free uSnap.us app.", "http://itunes.apple.com/us/app/usnap.us/id502448652" %></strong></p>
    <p class="pull-right"><span class="upcase">With love from</span> <span class="brand">uSnap.us</span></p>
  </div>
</section>

<script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var pusher = new Pusher('2e4efb9ca1181106d096');
  
  var channel = pusher.subscribe('<%= "#{Rails.env}-event-#{@event.id}-photocast" %>');
  channel.bind('new_photo', function(data) {
    prependPhoto(data);
  });
  channel.bind('update_photo', function(data) {
    updatePhoto(data);
  });
  
</script>

<script type="text/html" id="gallery_photo_template">
  <div class="photo" id="photo_{{id}}" data-photo-id="{{id}}">
  {{#photo}}
    <span class="hide_photo">
      <a href="<%= event_photos_path(@event) %>/{{id}}" class="close_button" title="Hide this forever">
        <i class="icon-remove-sign"></i>
      </a>
    </span>
    <a href="{{original_src}}" title="Photo taken by {{alt}}. Click to view original.">
      <img src="{{thumbnail_src}}" data-xga-src="{{xga_src}}" data-original-src="{{original_src}}" alt="Photo taken by {{alt}}" />
    </a>
  {{/photo}}
  </div>
</script>