<% @title = "Photos from #{@event.name}"%>
<% @topbar_class = "thin" %>

<section class="container event_details bottom_pad">
  <div class="row">
    <div class="span12">
      <h1 class="brand event_name"><%= @event.name %></h1>
      <p class="pretty_time" data-utc-starts="<%= @event.starts %>" data-utc-ends="<%= @event.ends %>">
      </p>
      <div class="buttons upcase bold">
          <%= link_to fullscreen_event_photos_path(@event), id: "goto_slideshow" do %>
            &#9658; Slideshow
          <% end %>
          <%= link_to "#", :id=>"show_latest_photos" do %>
            &#9658; Live Photos
          <% end %>
      </div>
    </div>
  </div>
</section>


<section class="container gallery">
  <div class="row">
    <div id="photo_gallery" data-json-url="<%= event_photos_url @event, format: 'json' %>">
    </div>
  </div>
</section>

<section class="container">
  <div class="row gallery_footer">
    <p class="pull-left">Contribute your own photos. <strong><%= link_to "Get the free app.", "http://itunes.apple.com/us/app/usnap.us/id502448652" %></strong></p>
    <p class="pull-right"><span class="upcase">With love from</span> <span class="brand">uSnap.us</span></p>
  </div>
</section>

<script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var pusher = new Pusher('2e4efb9ca1181106d096');
  
  var channel = pusher.subscribe('<%= "#{Rails.env}-event-#{@event.id}-photocast" %>');
  channel.bind('new_photo', function(data) {
    prependPhoto(data);
  });
  channel.bind('update_photo', function(data) {
    updatePhoto(data);
  });
</script>

<script type="text/html" id="gallery_photo_template">
  <div class="photo" id="photo_{{id}}" data-photo-id="{{id}}">
  {{#photo}}
    <% if false %>
      <a href="#" class="hide_photo" title="Hide this forever"><span class="close_button"></span></a>
    <% end %>
    <a href="{{original_src}}" title="Photo taken by {{alt}}. Click to view original.">
      <img src="{{thumbnail_src}}" data-xga-src="{{xga_src}}" data-original-src="{{original_src}}" alt="Photo taken by {{alt}}" />
    </a>
  {{/photo}}
  </div>
</script>